.user-card {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

.user-card__name {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 0.75;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin: 0;
    line-height: 1;
    padding-left: 28px;
}

.user-card__name::after {
    content: "";
    width: 100px;
    height: 100px;
    background: url('@/app/assets/head.png') no-repeat center/contain;
    display: inline-block;
    align-self: flex-end;
}

.user-card__nickname-wrapper {
    display: flex;
    align-items: center;
    line-height: 1;
    margin: 0;
}

.user-card__aka {
    font-size: 16px;
    transform: rotate(-90deg);
    display: inline-block;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 -10px 0 0;
}

.user-card__nickname {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.user-card__role {
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.75;
    margin: 0;
    line-height: 1;
    padding-left: 28px;
    padding-bottom: 6px;
}
.user-card__extra {
    font-size: 20px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
    line-height: 1;
    padding-left: 28px;
}

.user-card__divider {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    margin: 12px;
}

.user-card__socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-top: 12px;
}

.user-card__socials-link {
    text-decoration: none;
}

.user-card__socials-icon {
    width: 30px;
    height: 30px;
}
